[
  {'mob', [
    {kademlia, [{alpha, 3}, {k, 20}]}
  ]},
  {lager, [
    {handlers, [
        {lager_logstash_backend, [
               {level, info},
               {output, {tcp, "localhost", 9125}},
               {format, json},
               {json_encoder, jsx}
        ]},
        {lager_console_backend, error},
        {lager_console_backend, info}
    ]}
   ]}
].
